.card {
    margin-bottom: 15px;
}

.icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

.list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
}
.list-group-item{
    padding :5px;
}
.list-group-item .table td, .table th{
    font-size: 12px;;
}