<div class="row m-0 p-0">
  <div class="col-md-8 p-0">
    <loader [showIf]="request.onTheGo">
      <router-outlet></router-outlet>      
    </loader>
  </div>
  <div class="col-md-4 p-0 sidebar"*ngIf="storage.policy.selectedCustomer" >
    <div class="list-group filter-wrap" >
      <article class="list-group-item" *ngIf="storage.policy.selectedPolicy">
        <header class="filter-header">
          <a href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" class="">
            <i class="icon-action fa fa-chevron-down"></i>
            <h6 class="title">{{ 'policy.policy_info' | translate }} </h6>
          </a>
        </header>
        <div class="filter-content collapse show" id="collapse2">
          <div *ngFor="let infoPolicy of infoPolicy()">
            <p class="text-muted cpl ">{{'policy.' +infoPolicy | translate}}</p>
            <p class="text-muted ppl">{{storage.policy.selectedPolicy[infoPolicy]}}</p>
          </div>
        </div> <!-- collapse -filter-content  .// -->
      </article>
      <article class="list-group-item" >
        <header class="filter-header">
          <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="">
            <i class="icon-action fa fa-chevron-down"></i>
            <h6 class="title">{{ 'policy.customer_info' | translate }} </h6>
          </a>
        </header>
        <div class="filter-content collapse show" id="collapse1">
          <div *ngFor="let info of info()">
            <p class="text-muted cpl">{{'policy.' +info | translate}}</p>
            <p class="text-muted ppl ">{{storage.policy.selectedCustomer[info]}}</p>
          </div>
        </div> <!-- collapse -filter-content  .// -->
      </article>

    </div>
  </div>
</div>