.card {
    margin-bottom: 15px;
}

.icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}
.filter-header{
    border-bottom: 1px solid #07689f7d;
    margin-bottom: 10px;
}
.list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
}
.list-group-item{
    padding :5px;
    border-radius: 6px;
}
.list-group-item .table td, .table th{
    font-size: 12px;;
}

.form-group label{
    font-size: 12px;
    margin: 0px;
    
}
.text-muted{
    margin: 0px;
    font-size: 12px;
}
.title{
    margin :2px !important;
}

.ppl{
    color: black !important;
    border-bottom: 0.3px solid rgba(0,0,0,0.4);
}
a.btn.btn-xs.text-white{
    font-size: 14px !important;
}

