<section class="h-100">


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <div class="col-lg-4 hidden-sm hidden-xs">
                <img src="/assets/images/login.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-4">
                    <loader >
                        <form autocomplete="off" class="login-form" name="form" (ngSubmit)="f.form.valid && login(f)" #f="ngForm" novalidate>
                        <div class="card mb-0">
                            <div class="card-body">

                                <div class="text-center mb-3">
                                    <img src="/assets/images/logo.png" class="logo" alt="" height="60px">
                                    <h2 class="mt-2 mb-0">Policy Platform</h2>
                                    <p class="d-block text-muted font-weight-lighter">v1.0.0</p>

                                </div>
                                <app-alert></app-alert>


                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email"
                                        #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                        placeholder="{{'Email' | translate}}">
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                    <small *ngIf="!email.valid && email.dirty"
                                        class="help-block text-danger">{{'email_control' | translate}}</small>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                                        #password="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"
                                        placeholder="{{'Password' | translate}}">
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                    <small *ngIf="!password.valid && password.dirty"
                                        class="help-block text-danger">{{'password_control' | translate}}</small>
                                </div>
                               
                                <div   class="form-group">
                                    
                                    <button class="btn bg-success btn-block text-white" [disabled]="!password.valid" >{{'Login' | translate}} <i
                                            class="fas fa-key"></i></button>
                                </div>

                               
                            </div>
                        </div>
                </form>
            </loader>

            </div>
        </div>
    </div>
</section>