<loader class="child">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{'policy.modal.customer.edit' | translate}}</h5>
            <hr>
            <app-alert></app-alert>
            <form [formGroup]="form" (ngSubmit)="save()">
                <div class="form-group" >
                    <label>{{'policy.FIRST_NAME'|translate}} </label>
                    <input maxlength="200" type="text" class="form-control"
                        placeholder="{{'policy.FIRST_NAME'|translate}}" formControlName="FIRST_NAME" name="FIRST_NAME">
                </div>
                <div class="form-group">
                    <label>{{'policy.LAST_NAME'|translate}} </label>
                    <input maxlength="200" type="text" class="form-control"
                        placeholder="{{'policy.LAST_NAME'|translate}}" formControlName="LAST_NAME" name="LAST_NAME">
                </div>
                <div class="form-group">
                    <label>{{'policy.MOBILE_PHONE'|translate}} </label>
                    <input maxlength="200" type="text" class="form-control"
                        placeholder="{{'policy.MOBILE_PHONE'|translate}}" formControlName="MOBILE_PHONE"
                        name="MOBILE_PHONE">
                </div>
                <div class="form-group">
                    <label>{{'policy.WORK_PHONE'|translate}} </label>
                    <input maxlength="200" type="text" class="form-control"
                        placeholder="{{'policy.WORK_PHONE'|translate}}" formControlName="WORK_PHONE" name="WORK_PHONE">
                </div>
                <div class="form-group">
                    <label>{{'policy.HOME_PHONE'|translate}} </label>
                    <input maxlength="200" type="text" class="form-control"
                        placeholder="{{'policy.HOME_PHONE'|translate}}" formControlName="HOME_PHONE" name="HOME_PHONE">
                </div>
                <div class="form-group">
                    <label>{{'policy.EMAIL'|translate}} </label>
                    <input maxlength="200" type="email" class="form-control"
                        placeholder="{{'policy.EMAIL'|translate}}" formControlName="EMAIL" name="EMAIL">
                </div>
                <div class="form-group">
                        <label>{{ 'policy.CUSTOMER_TYPE' | translate }} </label>
                        <ng-select [items]="customerType" bindLabel="name" bindValue="value" formControlName="CUSTOMER_TYPE">
                        </ng-select>
                    </div>
                    <div class="form-group">
                            <label>{{'policy.EXPLANATION'|translate}} </label>
                            <input maxlength="200" type="text" class="form-control"
                                placeholder="{{'policy.EXPLANATION'|translate}}" formControlName="EXPLANATION"
                                name="EXPLANATION">
                        </div>
                <hr>
                <button type="submit" class="btn btn-xs btn-primary float-right text-white"
                    [disabled]="!form.valid">{{ 'KAYDET' | translate }}</button>
                <a class="btn btn-xs btn-warning float-right text-white mr-1"
                    (click)="cancel()">{{ 'cancel' | translate }}</a>
            </form>
        </div>
    </div>
</loader>