<section class="h-100">


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <div class="col-lg-4 hidden-sm hidden-xs">
                <img src="/assets/images/login.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-4">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <img src="/assets/images/logo.png" (click)="click()" class="logo" alt="" height="60px">
                            <h2 class="mt-2 mb-0">Policy Platform</h2>
                            <p class="d-block text-muted font-weight-lighter">v1.0.0</p>
                            <p class="text-capitalize"> Powered by <a href="http://www.m2bilisim.com.tr/" target="_blank">m2 bilisim</a> developed by <a
                                href="http://tema.com.tr" target="_blank">Yazılım atölyesi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>