<div class="card">
    <div class="card-body">
        <loader [showIf]="request.onTheGo">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="input-group">

                        <input type="text" class="form-control form-control-sm"
                            [placeholder]="'user.email_ad_placeholser' | translate" required [(ngModel)]="search">
                        <div class="input-group-append">
                            <a class="btn btn-primary btn-sm" (click)="searchClick()"
                                [title]="'user.search' | translate"><i class="fas fa-search"></i></a>
                            <a class="btn btn-info btn-sm" (click)="search = ''; searchClick()"
                                [title]="'user.search_clear' | translate"><i class="fas fa-eraser"></i></a>
                            <a class="btn btn-success btn-sm" (click)="create()" [title]="'user.add_new' | translate"><i
                                    class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3 table-scrool">
                <div class="col-12">

                    <table class="table table-hover">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th width="5%">{{ 'Benefit.BENEFIT_ID' |translate}}</th>
                                <th width="25%">{{'Benefit.BENEFIT'|translate}}</th>
                                <th class="spacific">{{'Benefit.EXPLANATION'|translate}}</th>
                                <th width="5%">{{'Benefit.ACTIVE' | translate}}</th>
                                <th width="10%">{{'Benefit.action'|translate}}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let Benefit of Benefits; let i = index">
                                <th scope="row">{{Benefit.BENEFIT_ID}}</th>
                                <td>{{Benefit.BENEFIT}}</td>
                                <td appShowAll class="spacific"> {{Benefit.EXPLANATION}}</td>
                                <td>
                                    <i class="fas fa-check fa-2x text-success" *ngIf="Benefit.ACTIVE"></i>
                                    <i class="fas fa-times fa-2x text-danger" *ngIf="!Benefit.ACTIVE"></i>

                                </td>
                                <td>
                                    <button class="btn btn-xs btn-warning " [disabled]="Benefit.USED"
                                        (click)="select(Benefit,i)"><i class="fas fa-edit"></i></button>

                                    <button class="btn btn-xs btn-danger " [disabled]="Benefit.USED"
                                        (click)="delete(Benefit,i)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </loader>
    </div>
</div>