<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <label>{{ 'menu.password.oldpassword' | translate }} </label>
                <input type="text" class="form-control"  formControlName="old_password" name="old_password">
            </div>
            <div class="form-group">
                <label>{{ 'menu.password.newpassword' | translate }} </label>
                <input type="text" class="form-control"  formControlName="password" name="password">
            </div>
            <div class="form-group">
                <label>{{ 'menu.password.newpasswordrepead' | translate }} </label>
                <input type="text" class="form-control"  formControlName="confirim_password" name="confirim_password">
            </div>
            <button type="submit" class="btn btn-primary float-right"  [disabled]="!form.valid">{{ 'save' | translate }}</button>
        </form>
    </div>
</div>