<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <label>{{ 'menu.password.oldpassword' | translate }} </label>
                <input type="text" class="form-control"  formControlName="PASSWORD" name="PASSWORD">
            </div>
            <div class="form-group">
                <label>{{ 'menu.password.newpassword' | translate }} </label>
                <input type="text" class="form-control"  formControlName="NEW_PASSWORD" name="NEW_PASSWORD">
            </div>
            <div class="form-group">
                <label>{{ 'menu.password.newpasswordrepead' | translate }} </label>
                <input type="text" class="form-control"  formControlName="CONIFIRM_PASSWORD" name="CONIFIRM_PASSWORD">
            </div>
            <button type="submit" class="btn btn-primary float-right"  [disabled]="!form.valid">{{ 'save' | translate }}</button>
            <button type="submit" class="btn btn-warning float-right" *ngIf="!storage.auth.user.PASSWORD_LOCKED"  (click)="close()">{{ 'cancel' | translate }}</button>
        </form>
    </div>
</div>