<loader>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" >{{ 'modal.policyBenefit.title' | translate }} ({{benefits.length}})</h5>
            <div class="row my-form">         

                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="25%">{{'benefit.BENEFIT'|translate}}</th>
                                <th >{{'benefit.EXPLANATION'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of benefits">
                                <th>{{item.BENEFIT}}</th>
                                <td>{{item.EXPLANATION}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <a class="btn col-2 offset-5 btn-xs btn-warning text-white mr-1"
                    (click)="cancel()">{{ 'kapat' | translate }}</a>
            </div>
        </div>
    </div>
</loader>