<loader [showIf]="request.onTheGo">

  <div class="row m-1">
    <a class="btn btn-info btn-xs m-2 col-3" (click)="explanationAdd()">Not Ekle</a>
    <a class="btn btn-info btn-xs m-2 col-3" (click)="benefits()">Yaraları</a>
    <a class="btn btn-danger btn-xs  m-2 col-3" (click)="cancelOpen()">İptal</a>
    <a class="btn btn-success btn-xs m-2 col-3" (click)="reinsdate()">Yeniden kurmak</a>
    <a class="btn btn-success btn-xs m-2 col-3" (click)="customer()">Müşteri bilgilerini düzenle</a>
    <a class="btn btn-danger btn-xs  m-2 col-3" (click)="getHistory()">Geçmişi güncelle</a>

  </div>
  <div class="row m-1">

    <div class="col-md-12 table-scrool">
      <h6>{{ 'policy.reced_service_history' | translate }}</h6>
      <table class="table table-striped ">
        <thead>
          <tr>
            <th width="15%">Zaman</th>
            <th width="15%">Yetkili</th>
            <th width="20%">İşlem Tipi</th>
            <th width="50%">Açıklama</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of historyData;let i = index">
            <td width="15%">{{history.M_DATE | date:'short' }}</td>
            <td width="15%">{{history.M_USER_NAME}}</td>
            <td width="20%">{{history.AUDIT_TYPE}}</td>
            <td width="50%">{{history.EXPLANATION}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</loader>