.card {
    margin-bottom: 15px;
}

.icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

.list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
}
.list-group-item{
    padding :5px;
}
.list-group-item .table td, .table th{
    font-size: 12px;;
}

.form-group label{
    font-size: 12px;
    margin: 0px;
    
}
.text-muted{
    margin: 0px;
    font-size: 12px;
}
.title{
    margin :2px !important;
}


table {
    table-layout: fixed;
}

.card-body .text-center {
    height: 75px;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 2px 0px 2px;
    cursor: pointer;
}
.desabled.card-body {
    cursor: none;
}
.desabled {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
 }
 
 .desabled  .card-body {
    cursor: not-allowed !important;
}