


<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row">

                <div class="col-md-2 card" *ngFor="let group  of groups; let in = index">
                    <label>{{group}}</label>
                    <hr>
                    <div class="form-check" *ngFor="let item  of data[group]; let i = index" formArrayName="items">
                        <div [formGroupName]="i">
                            <label class="switch ">
                                <input type="checkbox" class="success" [id]="'exampleCheck'+i" formControlName="check">
                                <span class="slider round"></span>
                            </label>
                            <label class="form-check-label" [for]="'exampleCheck'+i ">{{item.key}}</label>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary float-right">{{'save' | translate}}</button>
        </form>
    </div>
</div>