<nav class="navbar navbar-expand-lg navbar-dark bg-primary " *ngIf="!storage.auth.user.PASSWORD_LOCKED">
  <a class="navbar-brand" routerLink="/dashboard">
    {{ 'app_name' | translate }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="policy/search">{{ 'menu.policy' | translate }}</a>
      </li>
      <li  *permissions="'defination.browse'" class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="javascript:void()" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'menu.cruds' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *permissions="'product.create'" routerLink="product">{{ 'menu.product' | translate }}</a>
            <a class="dropdown-item" *permissions="'benefit_pack.create'"routerLink="benefitPack">{{ 'menu.benefitPack' | translate }}</a>
          <a class="dropdown-item" *permissions="'benefit.create'"routerLink="benefit">{{ 'menu.benefit' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" *permissions="'partner.create'" routerLink="partner">{{ 'menu.partner' | translate }}</a>
          <a class="dropdown-item" *permissions="'partner_channel.create'" routerLink="channel">{{ 'menu.channel' | translate }}</a>
          <a class="dropdown-item" *permissions="'service_type.create'" routerLink="serviceType">{{ 'menu.serviceType' | translate }}</a>
          <a class="dropdown-item" *permissions="'cancel_reason.create'" routerLink="cancelReason">{{ 'menu.cancelreason' | translate }}</a>

       
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" *permissions="'country.create'"routerLink="country">{{ 'menu.country' | translate }}</a>
          <a class="dropdown-item" *permissions="'currency.create'" routerLink="currency">{{ 'menu.currency' | translate }}</a>
          <a class="dropdown-item" *permissions="'audit_type.create'" routerLink="auditType">{{ 'menu.auditType' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" *permissions="'user.browse'" routerLink="user">{{ 'menu.user' | translate }}</a>
          <a class="dropdown-item" *permissions="'role.create'" routerLink="role">{{ 'menu.role' | translate }}</a>
        </div>
      </li>
      <li *permissions="'batch.browse'" class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="javascript:void()" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'menu.upload-csv' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="upload-csv/create-policy" *permissions="'batch.policy'">{{ 'menu.create-policy' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="upload-csv/update-external-policy-number" *permissions="'batch.update-external-policy-number'">{{ 'menu.update-external-policy-number' | translate }}</a>
          <a class="dropdown-item" routerLink="upload-csv/update-asset" *permissions="'batch.update-asset'">{{ 'menu.update-asset' | translate }}</a>
          <a class="dropdown-item" routerLink="upload-csv/update-customer" *permissions="'batch.update-customer'">{{ 'menu.update-customer' | translate }}</a>
          <a class="dropdown-item" routerLink="upload-csv/cancel-policy" *permissions="'batch.cancel-policy'">{{ 'menu.cancel-policy' | translate }}</a>
          <a class="dropdown-item" routerLink="upload-csv/renew-policy" *permissions="'batch.renew-policy'">{{ 'menu.renew-policy' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="upload-csv">{{ 'uploads.title' | translate }}</a>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <!--
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle lang" href="javascript:void()" id="navbarDropdown2" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
              <span class="fa-stack fa-1x has-badge" [attr.data-count]="3">
                  <i class="fas fa-cloud-upload-alt fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
              <a href="javascript:void()" class="dropdown-item lang"><i class="fas fa-spinner fa-spin text-success"></i> Müşteri batch </a>
              <a href="javascript:void()" class="dropdown-item lang"><i class="fas fa-spinner fa-spin text-success"></i> Asset batch </a>
              <a href="javascript:void()" class="dropdown-item lang"><i class="fas fa-times text-danger"></i> Asset batch </a>
            </div>
          </li>-->
      <li class="nav-item dropdown active">

        <a class="nav-link dropdown-toggle" href="javascript:void()" id="navbarDropdown2" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ storage.auth.user.NAME}} ({{ storage.auth.user.ROLE}})
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
          <a href="javascript:void()" class="dropdown-item"
            (click)="passwordReset()">{{ 'menu.resetpassword' | translate }}</a>
          <a href="javascript:void()" class="dropdown-item" (click)="signout()">{{ 'menu.signout' | translate }}</a>
        </div>
      </li>
      <li class="nav-item dropdown active" *permissions="'lang.change'">
        <a class="nav-link dropdown-toggle lang" href="javascript:void()" id="navbarDropdown5" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ storage.language.selectedLanguage}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown5">
          <a href="javascript:void()" class="dropdown-item lang" (click)="setLanguage(lang)"
            *ngFor="let lang of storage.language.allLanguage">{{lang}}</a>
        </div>
      </li>
      
    </ul>
  </div>

</nav>
<div class="container-fuild" *ngIf="!storage.auth.user.PASSWORD_LOCKED">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li [class]="i == fragment.length-1 ? 'breadcrumb-item active' : 'breadcrumb-item'"
            *ngFor="let item of fragment ; let i = index">
            <a [routerLink]="[item.url]" *ngIf="i != fragment.length-1">{{'menu.'+item.name | translate}} </a>
            <span *ngIf="i == fragment.length-1">{{'menu.'+item.name | translate}}</span>
          </li>
        </ol>
      </nav>
      <div class="components p-1">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>