<div class="card">
    <div class="card-body">
            <loader>

        <div class="row">
            <div class="col-md-6 ">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm"
                        [placeholder]="'user.email_ad_placeholser' | translate" required [(ngModel)]="search">
                    <div class="input-group-append">
                        <a class="btn btn-primary btn-sm" (click)="searchClick()" [title]="'user.search' | translate"><i
                                class="fas fa-search"></i></a>
                        <a class="btn btn-info btn-sm" (click)="search = ''; searchClick()"
                            [title]="'user.search_clear' | translate"><i class="fas fa-eraser"></i></a>
                        <a class="btn btn-success btn-sm" (click)="create()" *permissions="'user.create'" [title]="'user.add_new' | translate"><i
                                class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3 table-scrool">
            <div class="col-12  tableFixHead">

                <table class="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>{{ 'user.id' |translate}}</th>
                            <th>{{'user.name'|translate}}</th>
                            <th>{{'user.email'|translate}}</th>
                            <th>{{'user.active' | translate}}</th>
                            <th>{{'user.action'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users, let i = index" [ngClass]="{'d-none': !user.check }">
                            <td scope="row" width="5%">{{user.USER_ID}}</td>
                            <td>{{user.NAME}}</td>
                            <td>{{user.EMAIL}}</td>
                            <td>
                                <i class="fas fa-check fa-2x text-success" *ngIf="user.ACTIVE"></i>
                                <i class="fas fa-times fa-2x text-danger" *ngIf="!user.ACTIVE"></i>

                            </td>
                            <td>
                                <a class="btn btn-xs btn-warning " *permissions="'user.update'" (click)="select(user,i)"><i
                                        class="fas fa-edit"></i></a>
                                <a class="btn btn-xs btn-danger " *permissions="'user.delete'" (click)="delete(user,i)"><i
                                        class="fas fa-trash"></i></a>
                                        <a class="btn btn-xs btn-warning " (click)="unlock(user,i)"><i
                                            class="fas fa-key"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        </loader>
    </div>
</div>