<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-md-6 ">
                <div class="input-group">

                        <input type="text" class="form-control form-control-sm"
                        [placeholder]="'user.email_ad_placeholser' | translate" required [(ngModel)]="search">
                    <div class="input-group-append">
                        <a class="btn btn-primary btn-sm" (click)="searchClick()" [title]="'user.search' | translate"><i
                                class="fas fa-search"></i></a>
                        <a class="btn btn-info btn-sm" (click)="search = ''; searchClick()"
                            [title]="'user.search_clear' | translate"><i class="fas fa-eraser"></i></a>
                        <a class="btn btn-success btn-sm" (click)="create()" [title]="'user.add_new' | translate"><i
                                class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3 table-scrool">
            <div class="col-12">
                <table class="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>{{ 'Country.COUNTRY_ID' |translate}}</th>
                            <th>{{'Country.COUNTRY'|translate}}</th>
                            <th>{{'Country.COUNTRY_CODE'|translate}}</th>
                            <th>{{'Country.PHONE_CODE' | translate}}</th>
                            <th>{{'Country.ACTIVE' | translate}}</th>
                            <th>{{'Country.action'|translate}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let country of countrys; let i = index">
                            <th scope="row">{{country.COUNTRY_ID}}</th>
                            <td>{{country.COUNTRY}}</td>
                            <td>{{country.COUNTRY_CODE}}</td>
                            <td>{{country.PHONE_CODE}}</td>
                            <td>
                                <i class="fas fa-check fa-2x text-success" *ngIf="country.ACTIVE"></i>
                                <i class="fas fa-times fa-2x text-danger" *ngIf="!country.ACTIVE"></i>

                            </td>
                            <td>
                                <a class="btn btn-xs btn-warning " (click)="select(country,i)"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-xs btn-info text-white" (click)="view(country)"><i
                                        class="fas fa-info-circle"></i> {{'Country.city_button'|translate}}</a>
                                <a class="btn btn-xs btn-danger " (click)="delete(country,i)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>