@import "~@ng-select/ng-select/themes/default.theme.css";
body,
html {
  height: 100%;
}
.sidebar {
  height: 79vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.1);
}
.components {
  padding: 10px;
}
.btn i {
  color: white !important;
}
.btn-xs {
  padding: 0.1rem 0.2rem;
}
.table td,
.table th {
  padding: 2px 0 2px 0 !important;
}
.table .btn {
  padding: 6px 6px;
  margin-left: 10px;
  font-size: 15px;
  line-height: 1;
}
.table .btn i {
  padding: 0px;
  font-size: 15px;
}
.table i {
  font-size: 14px;
}
body {
  font-weight: 300;
}
.green {
  color: green;
}
.red {
  color: red;
}
.backs a {
  text-decoration: none;
  color: black;
}
.breadcrumb {
  margin-bottom: 0px;
}
.form-group .form-control-sm {
  height: 20px;
  font-size: 15px;
  padding: 2px;
}

/**
 Swicth css
**/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f44336;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  right: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196f3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #ffc107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  left: -4px;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-lg {
  max-width: 90%;
}
.modal-xl {
  max-width: 50%;
}
/*.form-group >  label {
      border-bottom: 1px solid #ced4da;
      position: relative;
      padding-top: 8px;
}*/

.modal-lg .form-group {
  margin-bottom: 0px;
}

.modal-lg .form-group label {
  margin-bottom: 0px;
  font-size: 12px;
}
.table-scrool {
  height: 68vh;
}
.my-form {
  max-height: 70vh;
  overflow-y: scroll;
}

.modal-backdrop {
  background-color: white !important;
}
.input-group-text {
  width: 100%;
}
.input-group-prepend {
  width: 20%;
}
.fa-logo {
  height: 70px;
  width: 70px;
  background-size: 70px;
  background-image: url(./assets/fonts/logo.svg);
}
td {
  max-width: 33%;
}

.spacific {
  white-space: nowrap;
  overflow: hidden;
  width: 55%;
  text-overflow: ellipsis;
}

.tableFixHead {
  overflow-y: auto;
  height: 68vh;
}
.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}

.tableFixHead th {
  position: sticky;
  z-index: 996;
  top: 0;
  background: #07689f!important;

}


.modal-content .btn.btn-xs{
    width: 20% !important;
}