<loader>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" >{{ 'modal.transection.title' | translate }} ({{transection.length}})</h5>
            <app-alert></app-alert>
            <div class="row my-form">         

                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="25%">{{'transection.TX_TYPE'|translate}}</th>
                                <th >{{'transection.TX_AMOUNT'|translate}}</th>
                                <th >{{'transection.TX_DATE'|translate}}</th>
                                <th >{{'transection.EXPLANATION'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of transection">
                                <th>{{item.TX_TYPE}}</th>
                                <td>{{item.TX_AMOUNT}}</td>
                                <td>{{item.TX_DATE | dateOverview}}</td>
                                <td>{{item.EXPLANATION}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <a class="btn col-2 offset-5 btn-xs btn-warning text-white mr-1"
                    (click)="cancel()">{{ 'kapat' | translate }}</a>
            </div>
        </div>
    </div>
</loader>