<loader class="child">

<div class="card">
    <div class="card-body">
            <h5 class="card-title" *ngIf="!edit">{{ 'modal.partner.title.edit' | translate }}</h5>
            <h5 class="card-title" *ngIf="edit">{{ 'modal.partner.title.save' | translate }}</h5>
            <app-alert></app-alert>

        <form [formGroup]="form" (ngSubmit)="save()">
                <input type="hidden" class="form-control" placeholder="PARTNER_ID" formControlName="PARTNER_ID">

            <div class="form-group">
                <label>{{'Partner.PARTNER'|translate}} </label>
                <input maxlength="200" type="text" class="form-control" placeholder="{{'Partner.PARTNER'|translate}}" formControlName="PARTNER" name="PARTNER">
            </div>
            <div class="form-check">
                    <input type="checkbox" class="form-check-input " id="exampleCheck1" formControlName="ACTIVE">
                    <label class="form-check-label" for="exampleCheck1 ">{{'active' | translate}}</label>
                </div>
                <button type="submit" class="btn btn-xs btn-primary float-right text-white" *ngIf="!edit"
                    [disabled]="!form.valid">{{ 'KAYDET' | translate }}</button>
                <button type="submit" class="btn btn-xs btn-success float-right text-white" *ngIf="edit"
                    [disabled]="!form.valid">{{ 'EKLE' | translate }}</button>
                <a class="btn btn-xs btn-warning float-right text-white mr-1"
                    (click)="cancel()">{{ 'cancel' | translate }}</a>
        </form>
    </div>
</div>
</loader>
